/* h1, p {
    font-family: Lato;
  }
   */
  .ticketsSide {
    /* top: 400px !important; */
    /* text-align: left !important; */
    width: 670px !important;
    /* top:100px; */
    /* transform: translate(350px, 0px) !important; */
    margin-top: 70px;
  }
  

