
#gridMonitorVales::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
#gridMonitorVales::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
  border-radius: 4px;
}

#gridMonitorVales::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

#gridMonitorVales::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
#gridMonitorVales::-webkit-scrollbar-track {
  background: #ffffff;
  opacity: 0;
  border-radius: 4px;
}

#gridMonitorVales::-webkit-scrollbar-track:hover, 
#gridMonitorVales::-webkit-scrollbar-track:active {
  background: #ffffff;
  opacity: 0;
}
