.Notificacion {
    margin-top: 84px; 
  }

  .cerrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }